{% extends "hub/base.html" %}
{% load staticfiles %}
{% block pagetitle %}Overview Dashboard{% endblock %}
{% block content %}
<div class="dashhead">
  <div class="dashhead-titles">
    <h6 class="dashhead-subtitle">UoP Botswana MoH / TB Training</h6>
    <h2 class="dashhead-title">Overview Dashboard</h2>
  </div>

  <div class="btn-toolbar dashhead-toolbar">
    &nbsp;
  </div>
</div>

<hr class="m-t">

<div class="hr-divider m-t-md m-b">
  <h3 class="hr-divider-content hr-divider-heading">Last 30 days stats</h3>
</div>

<div class="row statcards">
  <div class="col-sm-6 col-lg-3 m-b">
    <div class="statcard statcard-success">
    <div class="p-a">
    <span class="statcard-desc">Quizzes taken</span>
    <h2 class="statcard-number">
      {{ stats.tracker_complete }}
    </h2>
    <hr class="statcard-hr m-b-0">
    </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-3 m-b">
    <div class="statcard statcard-danger">
    <div class="p-a">
    <span class="statcard-desc">Answered</span>
    <h2 class="statcard-number">
      {{ stats.answered }}
    </h2>
    <hr class="statcard-hr m-b-0">
    </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-3 m-b">
    <div class="statcard statcard-info">
    <div class="p-a">
    <span class="statcard-desc">Correct</span>
    <h2 class="statcard-number">
      {{ stats.answers_correct }}
    </h2>
    <hr class="statcard-hr m-b-0">
    </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-3 m-b">
    <div class="statcard statcard-warning">
    <div class="p-a">
    <span class="statcard-desc">Incorrect</span>
    <h2 class="statcard-number">
      {{ stats.answers_incorrect }}
    </h2>
    <hr class="statcard-hr m-b-0">
    </div>
    </div>
  </div>
{% endblock %}
